@charset "utf-8";

    .table_user{width:100%;}
    .td_id{width:5px;text-align:center;}
    .td_username{width:80px;}
    .td_email{width:140px;}
    .td_location{width:260px;}
    .td_about_me{width:300px;}
    .td_delete{width:60px; text-align:center;}


