{% extends "base.html" %}
{% block content %}
<title>비밀번호 찾기 - biteup</title>
<div id="container my-3">
    <div id="contents" class="div-cont">
        <div class="member-wrap pwFind">
            <form class="sub_form" method="post" autocomplete="off">
                {{ form.csrf_token }}
                <h3>비밀번호 찾기</h3>
                <div class="entry">

                   <div class="form-group">
                        <input name="email" id="email" type="text" placeholder="Email"
                               value="{{ form.email.data or '' }}" required>
                    </div>
                    <div class="form-group">
                        <input name="username" id="username" type="text" placeholder="Name"
                               value="{{ form.username.data or '' }}" required>
                    </div>
                    <div class="form-group">
                        <select id="passwd_question_se">
                            <option value="">원하는 질문을 선택하세요.</option>
                            <option value="가장 기억에 남는 장소는?">가장 기억에 남는 장소는?</option>
                            <option value="나의 좌우명은?">나의 좌우명은?</option>
                            <option value="나의 보물 제1호는?">나의 보물 제1호는?</option>
                            <option value="가장 기억에 남는 선생님 성함은?">가장 기억에 남는 선생님 성함은?</option>
                            <option value="다른 사람은 모르는 나만의 신체비밀은?">다른 사람은 모르는 나만의 신체비밀은?</option>
                            <option value="오랫동안 기억하고 싶은 날짜는?">오랫동안 기억하고 싶은 날짜는?</option>
                            <option value="가장 생각나는 친구 이름은?">가장 생각나는 친구 이름은?</option>
                            <option value="내가 존경하는 인물은?">내가 존경하는 인물은?</option>
                            <option value="다시 태어나면 되고 싶은 것은?">다시 태어나면 되고 싶은 것은?</option>
                            <option value="내가 좋아하는 만화 캐릭터는?">내가 좋아하는 만화 캐릭터는?</option>
                            <option value="초등학교 시절 나의 꿈은?">초등학교 시절 나의 꿈은?</option>
                            <option value="나의 출신 초등학교는?">나의 출신 초등학교는?</option>
                            <option value="우리집 애완동물의 이름은?">우리집 애완동물의 이름은?</option>
                            <option value="나의 노래방 애창곡은?">나의 노래방 애창곡은?</option>
                            <option value="본인의 출생지는?">본인의 출생지는?</option>
<!--                            <option value="word">직접입력</option>-->
                        </select>
                    </div>
                    <div class="form-group">
                        <input id="passwd_answer" name="passwd_answer" placeholder="Answer" required
                               type="text" value="{{ form.passwd_answer.data or '' }}">
                    </div>
                    <div class="form-group">
                        <input id="password1" name="password1" type="password" placeholder="Password"
                               value="{{ form.password1.data or '' }}" required>
                    </div>
                    <div class="form-group">
                        <input id="password2" name="password2" type="password" placeholder="Confirm Password"
                               value="{{ form.password2.data or '' }}" required>
                    </div>
                </div>
                {% include "form_errors.html" %}
                <button type="submit" class="btn-reset">비밀번호 초기화</button>
            </form>
        </div>
    </div>
</div>
<script>
$(function(){
//직접입력 인풋박스
$("#passwd_question_word").hide();
$("#passwd_question").change(function() {

     //직접입력을 누를 때 나타남
		if($("#passwd_question").val() == "word") {
			$("#passwd_question_word").show();
		}  else {
			$("#passwd_question_word").hide();
		}
	})
});

</script>
{% endblock %}