{% extends 'admin.html' %}
{% block content %}
<title>Contact - Admin</title>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <h2><strong><i class="zmdi zmdi-chart"></i> Contact Us </strong> 1:1 문의 </h2>
            </div>
            <div class="body">
                <table class="table_contact">
                    <thead>
                    <tr>
                        <th class="td_id">No.</th>
                        <th>이름</th>
                        <th>이메일</th>
                        <th>제목</th>
                        <th>내용</th>
                        <th class="td_delete">삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in contact_list %}
                    <tr>
                        <td class="td_id">{{ contact.user.id }}</td>
                        <td class="td_username">{{ contact.username }}</td>
                        <td class="td_email">{{ contact.email }}</td>
                        <td class="td_location">{{ contact.subject }}</td>
                        <td class="td_message">{{ contact.message }}</td>
                        <td class="td_delete">
                            <a href="{{ url_for('admin.contact_delete', user_id=user.id) }}" class="delete btn btn-sm btn-outline-secondary">삭제</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}