{% extends "base.html" %}
{% block content %}
<title> MyPage - {{ g.user.username }}</title>
<div id="container my-3">
    <div id="contents" class="div-board">
        <div class="container-warp list">
            <h5 class="my-3 border-bottom pb-2">프로필</h5>
            <div class="profile-group">
                <h3>E-mail: {{ g.user.email }}</h3>
                <h3>Name: {{ g.user.username }}</h3>
                <h3>Location: {{ g.user.location }}</h3>
                <h3>About Me: {{ g.user.about_me }}</h3>
            </div>

            <a class="btn btn-secondary m-1" href="{{ url_for('profile.edit') }}">프로필 수정</a>

        </div>
    </div>
</div>
{% endblock %}