{% extends "base2.html" %}
{% block title %}My Blog - {{ user.username }}{% endblock %}

{% block page_content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">프로필</h5>
    <form method="post" class="post-form my-3"></form>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>e-mail: {{ user.email }}</h3>
            <h3>이름: {{ user.username }}</h3>
            <h3>주소: {{ user.location }}</h3>
            <h3>내소개: {{ user.about_me }}</h3>

                {% if user == g.user %}
                    <a class="btn btn-secondary m-1" href="{{ url_for('profile.edit') }}">프로필 수정</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock %}