<!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
                async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "US 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "비트코인"
    },
    {
      "proName": "BITSTAMP:ETHUSD",
      "title": "이더리움"
    },
    {
      "description": "BTCUSDT",
      "proName": "BINANCE:BTCUSDT"
    },
    {
      "description": "BTCUSDTPERP",
      "proName": "BINANCE:BTCUSDTPERP"
    },
    {
      "description": "BTCUSDT",
      "proName": "BYBIT:BTCUSDT"
    },
    {
      "description": "도지코인",
      "proName": "BINANCE:DOGEUSDT"
    },
    {
      "description": "TRXUSDT",
      "proName": "BINANCE:TRXUSDT"
    },
    {
      "description": "SOLUSDT",
      "proName": "BINANCE:SOLUSDT"
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "light",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "kr"
}
        </script>
    </div>
    <!-- TradingView Widget END -->