<div class="trade-low">
    <div class="container-wrap foot">
        <table>
            <tbody>
            <tr>
                <td>
                    <a href="https://www.upbit.com/" target="_blank">
                        <img style="height:15px;" src="https://w.namu.la/s/d6a168557627305b679e99fec1029ff22e8a0cb093ebae3de77e0b2657da8cd3269303c39641bbab78cbe34d938a1519283d3c5fb63a9cf090b97d71dbde36f6bc9596d5ec4a429acd264c3d8f02d0caee30c1888d7a77f42713777b7435cad3" alt="업바이트">
                    </a>
                </td>
                <td>
                    <a href="https://www.bithumb.com/" target="_blank">
                        <img style="height:20px;"src="https://w.namu.la/s/7e4d12e876e5f13ebcd9e844518418489ab97f0d46794df894fa3796bdb72abefaa34b0cc38de74d2bb1d6bb3d301644e15299a5f154de361f253f22ef62f4a930339a33c688f68dd2713d051d12291ca679e2ef5428eb29c08889679444e3c4" alt="빗썸">
                    </a>
                </td>
                <td>
                    <a href="https://coinone.co.kr/" target="_blank">
                        <img style="height:15px;" src="https://w.namu.la/s/fa00b78cdbb9011afb073ac76b7f22a39b432014be4e23cee2f24bbea0dc3a6c35bb74fe4debedfc0e49846216cb071bfe731457328b55b7d25cdcc0d83f8223c0ac93aff36f626411fa2c5d31990075d7f07f6d783beab09f75e8d4f492d2bf" alt="코인원">
                    </a>
                </td>
                <td>
                    <a href="https://www.korbit.co.kr/" target="_blank">
                        <img style="height:15px;" src="https://w.namu.la/s/720d205457278c364768873f979eff47a6797f25b7dde47d591ee3156d055d38fb21c67b0230e417d9863173a7612051d4b41f1d4fca4ee0bbc4442b5822295c5aeea5c7a57175806b186cc56a7a5b60e614d7b83effb6c0a30f2f5965a3ade6" alt="코빗">
                    </a>
                </td>
                <td>
                    <a href="https://www.gopax.co.kr/" target="_blank">
                        <img style="height:15px;" src="https://w.namu.la/s/e881bcd5be5880484efa0582f43173a4103abbc0b8e533d621c4384fbf3f6201e26ecfb873717f20fe4f67ba50f1a3ca0d60b0e31894e5974b8c7e11684cb08396f2a26b5c54ad3402cc704d52f1551b54591cfe68791a760cec4c0296435df0" alt="고팍스">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--footer-->
<footer id="footer-wrap">
    <div id="footer" class="div-foot">
        <div class="l-logo">
            <h2>
                <span class="blind">biteup</span>
            </h2>
        </div>
        <div class="l-info">
            <div class="l-link">
                <ul class="l-item">
                    <li class="item">
                        <a class="it" href="/paper/provision">이용약관</a>
                    </li>
                    <li class="item">
                        <a class="it" href="/paper/privacy">개인정보취급방침</a>
                    </li>
                    <li class="item">
                        <a class="it" href="{{ url_for('contact.qna') }}">문의하기</a>
                    </li>
                    <li class="item">
                        <a class="it" href="{{ url_for('notice._list') }}">공지사항</a>
                    </li>
                </ul>
                <ul class="l-txt">
                    <li>
                        <span>주식회사 바이트업</span>
                    </li>
                    <li>
                        <span>대표자: Web8</span>
                    </li>
                    <li>
                        <span>메일: biteup@biteup.com</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <span>Copyright © biteup. All rights reserved.</span>
        </div>
    </div>
</footer>