<div class="trade-low">
    <div class="container-wrap foot">
        <table>
            <tbody>
            <tr>
                <td>
                    <a href="https://www.upbit.com/" target="_blank">
                        <img style="height:15px;" src="https://w.namu.la/s/d6a168557627305b679e99fec1029ff22e8a0cb093ebae3de77e0b2657da8cd3269303c39641bbab78cbe34d938a1519283d3c5fb63a9cf090b97d71dbde36f6ad630dee81b556f5374b73388066e668f4ccce911790584a4df907bee061e448" alt="업바이트">
                    </a>
                </td>
                <td>
                    <a href="https://www.bithumb.com/" target="_blank">
                        <img style="height:20px;" src="https://w.namu.la/s/7e4d12e876e5f13ebcd9e844518418489ab97f0d46794df894fa3796bdb72abefaa34b0cc38de74d2bb1d6bb3d301644e15299a5f154de361f253f22ef62f4a932a43774a105f2cb8097dfc88b839db7eead1a0167fc1d802da401b182cd2df5" alt="빗썸">
                    </a>
                </td>
                <td>
                    <a href="https://coinone.co.kr/" target="_blank">
                        <img style="height:15px;" src="https://w.namu.la/s/fa00b78cdbb9011afb073ac76b7f22a39b432014be4e23cee2f24bbea0dc3a6c35bb74fe4debedfc0e49846216cb071bfe731457328b55b7d25cdcc0d83f822309e45e09abfc7e535ebbe8f1724d3d577909f6fe4fcf86271afff1482c323616" alt="코인원">
                    </a>
                </td>
                <td>
                    <a href="https://www.korbit.co.kr/" target="_blank">
                        <img style="height:15px;" src="https://w.namu.la/s/720d205457278c364768873f979eff47a6797f25b7dde47d591ee3156d055d38fb21c67b0230e417d9863173a7612051d4b41f1d4fca4ee0bbc4442b5822295c1fdce9779630bc7f90bb2488e16317289fb796bd6b94d19fc3b35f7922cd7a09" alt="코빗">
                    </a>
                </td>
                <td>
                    <a href="https://www.gopax.co.kr/" target="_blank">
                        <img style="height:15px;" src="https://w.namu.la/s/e881bcd5be5880484efa0582f43173a4103abbc0b8e533d621c4384fbf3f6201e26ecfb873717f20fe4f67ba50f1a3ca0d60b0e31894e5974b8c7e11684cb083fff4a1ac2332da16754c1c7d4e85df5b772f4c108ea0d1bc63d4017a9d4f2865" alt="고팍스">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--footer-->
<footer id="footer-wrap">
    <div id="footer" class="div-foot">
        <div class="l-logo">
            <h2>
                <span class="blind">biteup</span>
            </h2>
        </div>
        <div class="l-info">
            <div class="l-link">
                <ul class="l-item">
                    <li class="item">
                        <a class="it" href="/paper/provision">이용약관</a>
                    </li>
                    <li class="item">
                        <a class="it" href="/paper/privacy">개인정보취급방침</a>
                    </li>
                    <li class="item">
                        <a class="it" href="{{ url_for('contact.qna') }}">문의하기</a>
                    </li>
                    <li class="item">
                        <a class="it" href="{{ url_for('notice._list') }}">공지사항</a>
                    </li>
                </ul>
                <ul class="l-txt">
                    <li>
                        <span>주식회사 바이트업</span>
                    </li>
                    <li>
                        <span>대표자: Web8</span>
                    </li>
                    <li>
                        <span>메일: biteup@biteup.com</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <span>Copyright © biteup. All rights reserved.</span>
        </div>
    </div>
</footer>